{% extends "base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}
<h2 class="inbox-title">Inbox</h2>

<div class="conversation-list">
    {% for conversation in conversations %}
    <div class="conversation-container">
        <a href="{{ url_for('conversation', other_user_id=conversation[0]) }}" class="conversation-link">
            <span class="conversation-name">Chat with {{ conversation[1] }}</span>
            <p class="last-message-time">Last message at {{ conversation[2] }}</p>
        </a>
    </div>
    {% endfor %}
</div>

<div class="new-conversation">
    <a href="{{ url_for('new_message') }}" class="new-conversation-button">Start New Conversation</a>
</div>
{% endblock %}
